.Indicator {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-width: 4px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 40px;
}

.Indicator:focus {
  outline: none;
}
