.Portlet {
  margin: 12px;
}

.Header {
  display: flex;
  align-items: baseline;
}

.Title {
  margin: 0;
  padding: 8px 0;
  font-size: 15px;
  font-weight: normal;
  color: rgb(153, 153, 153);
}

.Description {
  font-size: 14px;
  color: #999;
  padding: 0 8px;

  /* 单行省略 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Content {
  background: #fff;
  border-radius: 8px;
}
