.Header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 50px;
  align-items: center;
  text-align: center;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.Button {
  --hotspot: 30px;
  width: 50px;
  height: var(--hotspot);
  font-size: 12px;
  line-height: var(--hotspot);
  text-align: center;
}
